In [32]:
import numpy as np
import pandas as pd

In [33]:
movies = pd.read_csv('data/movies.csv')
ratings = pd.read_csv('data/ratings.csv')

In [34]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

## Analysing Data

In [51]:
print("Movies Shape", movies.shape)
print("Total Movies", movies['movieId'].nunique())
print("Total Genres", movies['genres'].nunique())

Movies Shape (62423, 3)
Total Movies 62423
Total Genres 1639

In [55]:
print("Rating Shape", ratings.shape)
print("Total Users", ratings['userId'].nunique())
print("Rating Statistics")
print(ratings['rating'].describe())

Rating Shape (25000095, 4)
Total Users 162541
Rating Stats
count    2.500010e+07
mean     3.533854e+00
std      1.060744e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64